.skills {
    padding: 2rem;
    background-color: #ffffff;
    text-align: center;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skill-item {
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: #279aba;
    color: white;
    border-radius: 8px;
    font-size: 2rem;
    transition: transform 0.3s;
  }
  
  .skill-item:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .skills-list {
      flex-direction: column;
    }
  }
  